*,
::before,
::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}
body {
   overflow-x: hidden;
   overflow-y: auto;
}
.wrapp {
   width: 75rem;
   margin: 0 auto;
   padding: 1rem;
}
.bayan {
   margin: 0 auto;
   max-width: 90%;
   display: flex;
   flex-direction: column;
   color: blue;
   font-weight: 700;
   cursor: pointer;
   transition: all .3s ease-in-out;
}
@media (max-width: 580px) {
   .bayan {
      max-width: 100%;
   }
}
@media (hover: hover) {
   .bayan:hover {
      color: #000;
   }   
   .bayan:hover .bayan__item-trigger__arrow {
      opacity: 1;
   }
}
.bayan__item {
   margin-bottom: 3rem;
}
.bayan__item-input {
   display: none;
}
.bayan__item-trigger {
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.3rem;
   border: 0.1rem solid #000;
   cursor: pointer;
}
@media (max-width: 820px) {
   .bayan__item-trigger {
      font-size: 2rem;
   }  
}
@media (max-width: 580px) {
   .bayan__item-trigger {
      font-size: 3rem;
   }
}
.bayan__item-trigger__arrow {
   opacity: 0;
   width: 1.6rem;
   transition: all .3s ease-in-out;
}
.bayan__item-content {
   display: flex;
   height: 0;
   opacity: 0;
   border: 0.1rem solid #000;
   border-top: none;
   text-align: center;
   transition: all .4s ease-in-out;
   cursor: pointer;
}
.bayan__item-content__img {
   max-width: 100%;
   margin: 0 auto;
}
.bayan__item-input:checked ~ .bayan__item-trigger {
   color: #000;
}
.bayan__item-input:checked ~ .bayan__item-content{
   height: 31.2rem;
   opacity: 1;
   padding: 2rem;
   transition: all .4s linear;
}
@media (max-width: 580px) {
   .bayan__item-input:checked ~ .bayan__item-content{
      height: 52.2rem;
   }   
}
@media (hover: hover) {
   .bayan__item-trigger:hover ~ .bayan__item-content,
   .bayan__item-content:hover,
   .bayan__item-trigger:hover ~ .bayan__item-content,
   .bayan__item-content:hover {
      height: 31.2rem;
      opacity: 1;
      padding: 2rem;
      transition: all .4s linear;
   }
}

.bayan__item-input:checked ~ .bayan__item-trigger .bayan__item-trigger__arrow{
   transform: rotate(180deg);
}
@media (hover: hover) {
   .bayan__item-trigger:hover .bayan__item-trigger__arrow{
      transform: rotate(180deg);
   }  
}
